@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-atkinson);
  --color-background: #f5f6f9;
  --color-foreground: #0f1a30;
  --color-primary: #1351b4;
  --color-primary-soft: #e9eef9;
  --color-surface: #ffffff;
  --color-muted: #586478;
  --color-line: #dee2ec;
}

*, *::before, *::after {
  box-sizing: border-box;
}
